sudo: required
language: c++
osx_image: xcode11
os:
- linux
- osx

env:
  global:
    - TWINE_USERNAME=cmeyer
    - secure: "XONrATvQccjx3suCW2vnG3my9p7e+ejy4Z6H8ofXzsnU8G+XknviHY5l1GKh9ygQcrc0SGgOYep1L0wIIymhJEP5tf1B+x6h1FAltdhUU9UmiQkCRyH4wFcCLojI8QWXJ4QhjukGlqfmC7jTYsXjX29PZxzyMamc4r5f2kueCu+vzPcz9Rd396LWfYXFy/lraF7/DplB9/GnUQEhZ+PNZM211Lt1FWozY/tj4JzwFKYopKkpX7XKRFwdbLvhFVEr89w4XXD8d94encvAcP2t6NE6KQxt5Z+AmCGYreQhu8HbAGcXJgkiJZBUdM1JM+1o/YoUbNx+jZzYeqPJdXd9DgCI0DZfmkIEN0/0gowIlSqqxvOQkVr5FxY8ygh6TpGLsRq5RWYCh3/IBFISh5SzQhGjwayLskkyQyWsA9tkzajCSOOZ3iNTTo7jUyrQ9S15EH0LMkTYO7hqbj1jRcOWnSXZhQt44xTVvtJdkGowFVfUWXDb818A0OiXwbNoK6p1GZpiQijrzwVpNKnq23gzeYxzezODFmweiLRAfwlsiVuHRjjk/U4tOPkhEVK0oV8/VtZpCkimIcwtvKBFeJFvlIWh7MBuOZfTQXB34GwZO1TFwseUF96QsUZpegXdCZgSwnPRv8I8exqo9VduyNIBoyOnHbTSacII3xrqyU4tJg4="

before_install:
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew upgrade python; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then pip3 install numpy==1.15; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sed -i '' 's/QTDIR = $(HOME)\/Developer\/Qt\/5.13.0\/clang_64/QTDIR = \/usr\/local\/opt\/qt5/g' launcher/xcconfig/targetReleaseNionUILauncher.xcconfig; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then sed -i '' 's/PYTHONHOME = $(HOME)\/Developer\/miniconda43/PYTHONHOME = \/usr\/local\/opt\/python3\/Frameworks\/Python.framework\/Versions\/3.7/g' launcher/xcconfig/targetReleaseNionUILauncher.xcconfig; fi

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5
    - python3-dev

script:
  bash travis-build.sh

after_success:
  # if tagged, create the source distribution and upload to PyPI
  - |
    if [ -n "$TRAVIS_TAG" ]; then
      cd ${TRAVIS_BUILD_DIR}
      if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
        python3 -m pip install twine
        twine upload dist/*.whl
      else
        ~/miniconda/bin/python -m pip install twine
        ~/miniconda/bin/twine upload dist/*.whl
      fi
    fi

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    secure: "Z4e+r+DUFSZ/bmgIgmSG3hVhsvZrHGT65FSE7Qe0NDO0EpyOImfjabdZIIN3e/P0vl6Uaf7SbrHaID7DsX7gTLq3jG5VHhoJNXsIWBbqIEocnypE7WSgg0kLrJnW6HDTCoO9GnQNXFLnLnHHiMwt0rOEi86eMCxzS8h3+pcGQKSu95i/W3Z6McwpO+F+ylUIPOiCiQtN9gWQrgiCHfTYzTqMUZK/G1wlNi6M7nbOJx4F26WiP3yu9bCtS3HUU1p4MQKsqzVj8Usk7n8m2udbXkDpVMmGYrJyYMUlE4US7c4NKVCwKiyURb9jnJnj18GAQoeIzDmpH1HhwDlgTC/6oTTipfFSBPxJdBz8xfUKkEoYi8CGlXRS+7o3cFqX8vi/lHwWJBb2XqcFkEtbJzeqZtkeksBZdL2SvtBcc6NMI03wgrJC4no85TNtyuSzwvP/FoG8DtDwsp2M3k8vAtXkXK+JYawpbZl1RxaQ2Ju3fnn4tdbxbBGR2GMgHYJocVyxGJJBr7eSh/UwEOsntdQWwq3oB6SDCdqmsoybyMPTDiqQ5bVA7nd2spZsxGz95QQP0CiX1G6ulXpVtb8XuN9Vx5RfRrbFzCIUbUeNoxgVRZtkNXWbusVNizOUiaoYr/bn9r40bgyk4jQVIIQAhGBjNFGIvKFNs9RMIfNMQbVmJBM="
  file: dist/*.whl
  file_glob: true
  prerelease: true
  on:
    repo: nion-software/nionui-tool
    tags: true
