version: '#{build}'
image: Visual Studio 2019
platform: x64
configuration: Release

environment:
  QT_BASE_X64: C:\Qt\5.13\msvc2017_64
  PYTHON3_BASE_X64: C:\Miniconda36-x64
  global:
    TWINE_USERNAME: cmeyer
    TWINE_PASSWORD:
      secure: BnbMQ1PclnE3n23nHXG8jTTf2du2o4vQoT81BpCJnYw=

install:
- cmd: C:\Miniconda36-x64\Scripts\conda install numpy=1.14 -y

build:
  project: launcher\NionUILauncher.vcxproj
  verbosity: minimal

after_build:
  - ps: Get-ChildItem -Include *.pdb -Recurse | foreach { $_.Delete() }
  - ps: Get-ChildItem launcher\x64\Release\imageformats -Include *d.dll -Recurse | foreach { $_.Delete() }
  - cmd: "%PYTHON3_BASE_X64%\\python.exe setup.py bdist_wheel"

artifacts:
  - path: dist\*.whl
  - path: launcher\x64\Release
    name: LauncherAppWindows
    type: zip

deploy:
  provider: GitHub
  auth_token:
    secure: bOxLt6KZ0huu2ntyILyl7lnV9H2IZd+i+mUo0vpntq1QIn6JN7s5Qpldq33fB1m6
  draft: false
  prerelease: false
  tag: $(appveyor_repo_tag_name)
  on:
    appveyor_repo_tag: true

after_deploy:
  - ps: >-
      if($env:APPVEYOR_REPO_TAG -eq 'true') {
        Write-Output ("Deploying " + $env:APPVEYOR_REPO_TAG_NAME + " to PyPI...")
        pip install --upgrade twine
        twine upload dist/*.whl
      } else {
        Write-Output "Not deploying as this is not a tagged commit"
      }
