QTDIR = $(HOME)/Developer/Qt/6.9.1/macos

ARCHS = $(ARCHS_STANDARD)

// note: headerpad_max_install_names has something to do with using otool to relocate the library paths
OTHER_LDFLAGS = $(APP_LDFLAGS) $(COND_LDFLAGS) -headerpad_max_install_names -F$(QTDIR)/lib -L$(QTDIR)/lib

HEADER_SEARCH_PATHS_LOCAL = . ..

HEADER_SEARCH_PATHS_QT_EXTRA = $(QTDIR)/mkspecs/macx-xcode $(QTDIR)/include

HEADER_SEARCH_PATHS_ALL = $(HEADER_SEARCH_PATHS_LOCAL) $(HEADER_SEARCH_PATHS_QT_EXTRA) $$(TARGET_HEADER_SEARCH_PATHS) $(COND_HEADER_SEARCH_PATHS)

FRAMEWORK_SEARCH_PATHS = $(QTDIR)/lib /Library/Frameworks/

LIBRARY_SEARCH_PATHS = $(QTDIR)/lib $(COND_LIBRARY_SEARCH_PATHS) /Library/Frameworks/

// use this to define OTHER_CFLAGS since the preprocessor doesn't seem to be able to use existing definitions when replacing a definition
OTHER_FLAGS = -pipe -g -Wreturn-type -Wunused-variable -Wno-shorten-64-to-32 -DQT_NO_KEYWORDS -DQT_NETWORK_LIB -DQT_XML_LIB -DQT_OPENGL_LIB -DQT_GUI_LIB -DQT_CORE_LIB -DQT_SHARED

GCC_INLINES_ARE_PRIVATE_EXTERN = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

MACOSX_DEPLOYMENT_TARGET = 11.0

CODE_SIGN_IDENTITY = Developer ID Application: Nion, Inc.

LD_RUNPATH_SEARCH_PATHS = @loader_path/../../Contents

APP_LDFLAGS = -framework QtCore -framework QtGui -framework QtWidgets $(PYTHON_LDFLAGS) -stdlib=libc++

OTHER_CFLAGS = $(OTHER_FLAGS)

OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -std=c++17 -stdlib=libc++

PYTHON_SEARCH_PATHS = $(PYTHON_INCLUDE)

HEADER_SEARCH_PATHS = $(HEADER_SEARCH_PATHS_ALL) $(PYTHON_SEARCH_PATHS)

PYTHON_VERSION = python$(PYTHON_VERSION_NUMBER)$(PYTHON_OPTION)
PYTHON_INCLUDE = $(PYTHONHOME)/include/$(PYTHON_VERSION)
PYTHON_LDFLAGS =

PYTHONHOME = $(HOME)/miniconda3/envs/py311-arm64-forge
PYTHON_VERSION_NUMBER = 3.11
PYTHON_OPTION =
PYTHON_COMPILE_OPTION = -b
